@font-face {
    font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.ttf'); 
    /*src: url('../fonts/sourcesanspro-regular-webfont.eot');
    src: url('../fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');*/
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/sourcesanspro-light-webfont.eot');
    src: url('../fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Semibold';
    src: url('../fonts/sourcesanspro-semibold-webfont.eot');
    src: url('../fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/sourcesanspro-bold-webfont.eot');
    src: url('../fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    src: url('../fonts/SourceSansPro-It-webfont.eot');
    src: url('../fonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-It-webfont.woff') format('woff'),
    url('../fonts/SourceSansPro-It-webfont.ttf') format('truetype'),
    url('../fonts/SourceSansPro-It-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light Italic';
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot');
    src: url('../fonts/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-LightIt-webfont.woff') format('woff'),
    url('../fonts/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
    url('../fonts/SourceSansPro-LightIt-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
